body {
  margin: 0;
  padding: 0;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  display: flex;
  height: 100vh;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  justify-content: space-between;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__block {
  display: flex;
}

.main__controls__button i {
  font-size: 24px;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.leave__meeting {
  color: rgb(219, 51, 51);
}

.main__right {
  display: flex;
  flex-direction: column;

  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__header {
  color: #f5f5f5;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__message_container {
  display: flex;
  padding: 22px 12px;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.messages {
  color: white;
  list-style: none;
}

.disabled {
  color: #cc3b33;
}
